#!/usr/bin/make -f
#DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh build --before configure
	dh_auto_configure -- 	--disable-pymod-checks \
				--with-desktop=gnome \
				--with-gconf \
				--enable-gtk-doc
	dh build --after configure
	touch build-stamp

clean:
	dh clean

install: build install-stamp
install-stamp:
	dh install
	mv debian/tmp/usr/bin/avant-window-navigator debian/avant-window-navigator/usr/bin/awn
	cp debian/awn.wrapper debian/avant-window-navigator/usr/bin/avant-window-navigator
	touch install-stamp

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep

#DEB_DH_INSTALL_SOURCEDIR=debian/tmp

#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/gnome.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk
#
#DEB_CONFIGURE_EXTRA_FLAGS += 	--disable-pymod-checks \
#				--with-desktop=gnome \
#				--with-gconf \
#				--enable-gtk-doc
#
#DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-Wl,-z,defs -Wl,--as-needed"
#
#DEB_INSTALL_MANPAGES_avant-window-navigator := debian/avant-window-navigator.1 debian/awn-applet-activation.1 debian/awn-autostart.1
#DEB_INSTALL_MANPAGES_awn-manager := debian/awn-manager.1 debian/awn-launcher-editor.1 debian/awn-schema-to-gconf.1 debian/awn-applets-migration.1

#DEB_DH_MAKESHLIBS_ARGS_libawn0 += -V"libawn0 (>= 0.3~bzr489)"
#DEB_DH_MAKESHLIBS_ARGS_avant-window-navigator += -n
#DEB_SHLIBDEPS_LIBRARY_avant-window-navigator:= libawn0
#DEB_SHLIBDEPS_INCLUDE_avant-window-navigator := debian/libawn0/usr/
#DEB_DH_STRIP_ARGS := --dbg-package=libawn0-dbg

#install/avant-window-navigator::
#	dh_install -pavant-window-navigator --sourcedir=debian/tmp
#	mv debian/tmp/usr/bin/avant-window-navigator debian/avant-window-navigator/usr/bin/awn
#	cp debian/awn.wrapper debian/avant-window-navigator/usr/bin/avant-window-navigator
#
#
#binary-install/awn-manager::
#	dh_pysupport -pawn-manager
#
#binary-install/python-awn::
#	dh_pysupport -ppython-awn
