#!/usr/bin/make -f
#DH_VERBOSE=1

include /usr/share/quilt/quilt.make

PYVERS=$(shell pyversions -vs)

configure_flags += \
			--prefix=/usr \
			--disable-pymod-checks \
			--with-desktop=gnome \
			--with-gconf \
			--enable-gtk-doc \
			--with-gconf-schema-file-dir=/etc/gconf/schemas \
			LDFLAGS="-Wl,-z,defs -Wl,--as-needed"


#Standart build
build-standart: build-standart-stamp

build-standart-stamp: patch
	dh_testdir
	dh_auto_configure -- 	$(configure_flags)
	dh_auto_build
	touch build-standart-stamp

install-standart:
	dh_testroot
	dh install --before build
	dh_auto_build
	dh install --after test
	mv debian/tmp/usr/bin/avant-window-navigator debian/avant-window-navigator/usr/bin/awn
	cp debian/awn.wrapper debian/avant-window-navigator/usr/bin/avant-window-navigator
	chmod +x debian/avant-window-navigator/usr/bin/avant-window-navigator
	touch install-standart

#Build python bindings for all python versions
build-%/configure-stamp: patch
	dh_testdir
	mkdir -p build-$*
	cd build-$* && \
		PYTHON=/usr/bin/python$* CFLAGS="$(CFLAGS)" \
			$(CURDIR)/configure $(configure_flags)
	touch $@

build-%/build-stamp: build-%/configure-stamp
	dh_testdir
	$(MAKE) -C build-$*/libawn
	$(MAKE) -C build-$*/bindings
	touch $@

build: $(PYVERS:%=build-%/build-stamp) build-standart

clean: unpatch
	rm -rf build-* debian/tmp-* install-standart
	dh clean

install-%:
	$(MAKE) -C build-$*/bindings/python install DESTDIR=$(CURDIR)/debian/tmp-$*
	dh_install --sourcedir=debian/tmp-$*
	rm -rf $(CURDIR)/debian/*/debian
	dh_pysupport
	dh_fixperms

install: install-standart $(PYVERS:%=install-%)

binary-arch: install
	dh_strip --dbg-package=libawn0-dbg
	dh binary-arch --after test

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
